:root {
    --zen-contextmenu-menuitem-padding-inline: 6px;
    --zen-contextmenu-menuicon-margin-inline: 48px;
	--zen-contextmenu-menuicon-margin-small-inline: 6px;
    --zen-contextmenu-menuitem-margin: 0px 2px;
}

#context_zenSplitTabs {
  --menu-image: url('Assets\sidebars-right.svg') !important;
}

#context-zen-change-workspace-tab {
  --menu-image: url('Assets\move-tab.svg') !important;
}

#context-zenSplitLink {
  --menu-image: url('Assets\split.svg') !important;
}
#context_zenOpenWorkspace {
  --menu-image: url('Assets\open.svg') !important;
}

#context_zenEditWorkspace,
#zenToolbarThemePicker {
  --menu-image: url('Assets\edit-theme.svg') !important;
}

/* Context Menu Icons */

#context-video-pictureinpicture:not([checked='true']) .menu-iconic-icon {
  list-style-image: url('Assets\media-pip.svg') !important;
}

#context-media-loop:not([checked='true']) .menu-iconic-icon {
  list-style-image: url('Assets\media-loop.svg') !important;
}

:not(:not(menubar) > menu, #ContentSelectDropdown)
  > menupopup
  > menuitem:not(
    .menuitem-iconic,
    [type='checkbox'],
    [type='radio'],
    .in-menulist,
    .in-menulist menuitem,
    .unified-nav-current
  ),
:not(:not(menubar) > menu, #ContentSelectDropdown)
  > menupopup
  > menu:not(
    .menu-iconic,
    [type='checkbox'],
    [type='radio'],
    .in-menulist,
    .in-menulist menu,
    .unified-nav-current
  ),
#toggle_toolbar-menubar,
#PanelUI-history toolbarbutton,
#unified-extensions-context-menu menuitem {
  background-image: var(--menu-image) !important;
  background-size: 16px !important;
  background-position: var(--zen-contextmenu-menuitem-padding-inline) center !important;
  background-repeat: no-repeat !important;
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;
}

@media not (-moz-platform: windows) {
  menu > .menu-iconic-text,
  menuitem > .menu-iconic-text {
    padding-inline-start: var(--zen-contextmenu-menuicon-margin-small-inline) !important;
  }
}

#context-savepage {
  --menu-image: url('Assets\save.svg');
}
#context-selectall,
.textbox-contextmenu menuitem[cmd*='selectAll'],
#context_selectAllTabs,
#toolbar-context-selectAllTabs {
  --menu-image: url('Assets\edit-select-all.svg');
}

#context-undo,
.textbox-contextmenu menuitem[cmd*='undo'],
#context_undoCloseTab,
#toolbar-context-undoCloseTab {
  --menu-image: url('Assets\edit-undo.svg');
}

#toggle_toolbar-menubar {
  --menu-image: url('Assets\menu-bar.svg');
}

#context-redo,
.textbox-contextmenu menuitem[cmd*='redo'] {
  --menu-image: url('Assets\edit-redo.svg');
}

#context-copy,
.textbox-contextmenu menuitem[cmd*='copy'],
.textbox-contextmenu #strip-on-share,
#placesContext_copy {
  --menu-image: url('Assets\edit-copy.svg');
}

#context-paste,
.textbox-contextmenu menuitem[cmd*='paste'],
#placesContext_paste_group {
  --menu-image: url('Assets\edit-paste.svg');
}

#context-cut,
.textbox-contextmenu menuitem[cmd*='cut'],
#placesContext_cut {
  --menu-image: url('Assets\edit-cut.svg');
}

#context-delete,
.customize-context-removeExtension,
.unified-extensions-context-menu-remove-extension,
.textbox-contextmenu menuitem[cmd*='delete'],
menuitem[id='placesContext_deleteBookmark'],
menuitem[id='placesContext_deleteFolder'],
menuitem[id='placesContext_delete'],
menuitem[id='placesContext_delete_history'],
menuitem[id='placesContext_deleteHost'],
#context_zenDeleteWebPanel,
#context_zenDeleteWorkspace {
  --menu-image: url('Assets\edit-delete.svg');
}

#paste-and-go {
  --menu-image: url('Assets\paste-and-go.svg');
}

#context-print-selection {
  --menu-image: url('Assets\print.svg');
}

#context-take-screenshot {
  --menu-image: url('Assets\screenshot.svg');
}

#context-viewsource {
  --menu-image: url('Assets\source-code.svg');
}

#context-inspect-a11y {
  --menu-image: url('Assets\accessibility.svg');
}

#context-inspect {
  --menu-image: url('Assets\inspect.svg');
}

#context-searchselect {
  --menu-image: url('Assets\search-glass.svg');
}

#context-viewimage {
  --menu-image: url('Assets\image-open.svg');
}

#context-viewimageinfo {
  --menu-image: url('Assets\info.svg');
}

#context-saveimage,
#context-video-saveimage {
  --menu-image: url('Assets\image-save.svg');
}

#context-savevideo {
  --menu-image: url('Assets\video-save.svg');
}

#context-viewvideo {
  --menu-image: url('Assets\video-open.svg');
}

#context-saveaudio {
  --menu-image: url('Assets\audio-save.svg');
}

#context-copyimage-contents {
  --menu-image: url('Assets\image-copy.svg');
}

#context-copyimage,
#context-copyvideourl,
#context-copylink,
#context-stripOnShareLink,
#context_zenOpenNewTabWebPanel,
#context-pdfjs-copy {
  --menu-image: url('Assets\link.svg');
}

#context-openlinkincurrent {
  --menu-image: url('Assets\ext-link.svg');
}

#context-viewsource,
#context-viewframesource,
#context-viewpartialsource-selection {
  --menu-image: url('Assets\source-code.svg');
}

#context-sendimage,
#context-sendvideo,
#context-sendaudio {
  --menu-image: url('Assets\mail.svg');
}

#context-setDesktopBackground,
.viewCustomizeToolbar {
  --menu-image: url('Assets\customize.svg');
}

#context-reloadimage,
#context_reloadTab,
#context_reloadSelectedTabs,
#toolbar-context-reloadSelectedTab,
#toolbar-context-reloadSelectedTabs,
#context_zen-reset-pinned-tab {
  --menu-image: url('Assets\reload.svg');
}

#context-sendlinktodevice,
#context_sendTabToDevice,
#context-sendpagetodevice {
  --menu-image: url('Assets\send-to-device.svg');
}

#context-openlinkintab,
#context-openlinkincontainertab,
#context_zenWorkspacesOpenInContainerTab,
#context_zenWebPanelContextInContainer,
menuitem[id='placesContext_open:newtab'],
menuitem[id='placesContext_openLinks:tabs'],
menuitem[id='placesContext_openBookmarkLinks:tabs'],
menuitem[id='placesContext_openBookmarkContainer:tabs'] {
  --menu-image: url('Assets\tab.svg');
}

#context_openANewTab,
#toolbar-context-openANewTab {
  --menu-image: url('Assets\new-tab-image.svg');
}

#context-openlinkinusercontext-menu,
menu[id='placesContext_open:newcontainertab'],
menu[id='placesContext_openContainer:tabs'] {
  --menu-image: url('Assets\container-tab.svg');
}

#context-openlink,
menuitem[id='placesContext_open:newwindow'] {
  --menu-image: url('Assets\window.svg');
}

#context-openlinkprivate,
menuitem[id='placesContext_open:newprivatewindow'] {
  --menu-image: url('Assets\private-window.svg');
}

#context-savelink {
  --menu-image: url('Assets\downloads.svg');
}

#spell-add-to-dictionary {
  --menu-image: url('Assets\add-to-dictionary.svg');
}

#manage-saved-logins {
  --menu-image: url('Assets\passwords.svg');
}

#context-media-play,
#context_playTab,
#context_playSelectedTabs {
  --menu-image: url('Assets\media-play.svg');
}

#context-media-pause {
  --menu-image: url('Assets\media-pause.svg');
}

#context-media-mute,
#context_toggleMuteTab,
#context_toggleMuteSelectedTabs,
#context_zenToggleMuteWebPanel {
  --menu-image: url('Assets\media-mute.svg');
}

#context-media-unmute,
#context_toggleMuteTab[muted],
#context_toggleMuteSelectedTabs[muted],
#context_zenToggleMuteWebPanel[muted] {
  --menu-image: url('Assets\media-unmute.svg');
}

#context-media-playbackrate {
  --menu-image: url('Assets\media-speed.svg');
}

#context-video-fullscreen {
  --menu-image: url('Assets\fullscreen.svg');
}

#context-leave-dom-fullscreen,
menuitem[contexttype='fullscreen'][label*='Exit'] {
  --menu-image: url('Assets\fullscreen-exit.svg');
}

#context-media-hidecontrols,
#context-media-showcontrols {
  --menu-image: url('Assets\permissions.svg');
}

#context_pinTab,
#context_unpinTab,
#context_pinSelectedTabs,
#context_unpinSelectedTabs,
.customize-context-moveToPanel,
#context_zen-replace-pinned-url-with-current {
  --menu-image: url('Assets\pin.svg');
}

#context_zen-add-essential {
  --menu-image: url('Assets\essential-add.svg');
}

#context_zen-remove-essential {
  --menu-image: url('Assets\essential-remove.svg');
}

.customize-context-removeFromToolbar {
  --menu-image: url('Assets\unpin.svg');
}

#zen-sidebar-web-panel-pinned[pinned='true'] {
  list-style-image: url('Assets\pin.svg') !important;
}

#zen-sidebar-web-panel-pinned {
  list-style-image: url('Assets\unpin.svg') !important;
}

#context_duplicateTab,
#context_duplicateTabs {
  --menu-image: url('Assets\duplicate-tab.svg');
}

#zen-context-menu-compact-mode {
  --menu-image: url('Assets\sidebar.svg');
}

#context_bookmarkTab,
#context_bookmarkSelectedTabs,
#toggle_PersonalToolbar,
#context-bookmarklink,
#toolbar-context-bookmarkSelectedTab,
#toolbar-context-bookmarkSelectedTabs {
  --menu-image: url('Assets\bookmark-hollow.svg');
}

menuitem[id='placesContext_show_bookmark:info'],
menuitem[id='placesContext_show_folder:info'],
menuitem[id='placesContext_show:info'] {
  --menu-image: url('Assets\edit.svg');
}

menuitem[id='placesContext_showAllBookmarks'],
#BMB_bookmarksShowAllTop,
#BMB_bookmarksShowAll,
.customize-context-manageExtension,
.unified-extensions-context-menu-manage-extension {
  --menu-image: url('Assets\manage.svg');
}

#BMB_viewBookmarksSidebar {
  --menu-image: url('chrome://browser/skin/sidebars.svg');
}

#BMB_searchBookmarks {
  --menu-image: url('Assets\search-page.svg');
}

menuitem[id='placesContext_new:bookmark'],
menuitem[id='placesContext_new:folder'],
menuitem[id='placesContext_new:separator'] {
  --menu-image: url('Assets\plus.svg');
}

#context-savelinktopocket,
#context-pocket {
  --menu-image: url('Assets\pocket-outline.svg');
}

#context_moveTabOptions {
  --menu-image: url('Assets\move-tab.svg');
}

.share-tab-url-item {
  --menu-image: url('Assets\share.svg');
}

#context_reopenInContainer {
  --menu-image: url('Assets\container-tab.svg');
}

#context_closeTab {
  --menu-image: url('Assets\close.svg');
}

#context_closeTabOptions {
  --menu-image: url('Assets\close-all.svg');
}

#context_unloadTab,
#context_zenTabActions {
  --menu-image: url('Assets\close-all.svg');
}

.customize-context-reportExtension,
.unified-extensions-context-menu-report-extension {
  --menu-image: url('Assets\report.svg');
}

 /* FIX header icons for the app menu sub menus (eg. fx account, history...) */
 .panel-header > h1 {
   text-align: left;
   margin-left: 8px !important;
 }
 
.wordmark::after {
  content: 'Plus' !important;
}
@media not (-moz-platform: linux) {
  .unified-extensions-context-menu-pin-to-toolbar {
    --menu-image: url('Assets\pin.svg');
  }
}

.unified-extensions-context-menu-move-widget-down {
  --menu-image: url('Assets\arrow-down.svg');
}

.unified-extensions-context-menu-move-widget-up {
  --menu-image: url('Assets\arrow-up.svg');
}

:not(:not(menubar) > menu, #ContentSelectDropdown)
  > menupopup
  > menuitem:not(
    .menuitem-iconic,
    [type='checkbox'],
    [type='radio'],
    .in-menulist,
    .in-menulist menuitem,
    .unified-nav-current
  ),
:not(:not(menubar) > menu, #ContentSelectDropdown)
  > menupopup
  > menu:not(
    .menu-iconic,
    [type='checkbox'],
    [type='radio'],
    .in-menulist,
    .in-menulist menu,
    .unified-nav-current
  ),
:not(:not(menubar) > menu, #ContentSelectDropdown) > menupopup > menucaption {
  padding-inline-start: calc(
    var(--zen-contextmenu-menuitem-padding-inline) + var(--zen-contextmenu-menuicon-margin-inline) /
      2
  ) !important;
}

menupopup > menuitem:is([type='checkbox']) .menu-iconic-left {
  --menu-image: none !important;
  margin-inline-start: 4px;

  @media not (-moz-platform: windows) {
    margin-inline-end: 0;
    padding-inline-end: 0;
  }
}

@media (-moz-platform: windows) {
  menupopup > menuitem[checked='true'] {
    padding-inline-start: 6px;
  }
}